.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  box-shadow: 24;
  padding: 4;
  border-radius: 20px;
}

.formWrapper {
  padding: 30px 50px;
}

.actionButton {
  text-transform: none !important;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  font-weight: 700 !important;
  font-size: 22;
}

.taskLabel {
  font-weight: 700 !important;
  font-size: 14;
  color: #7d8592;
  margin-bottom: 10;
}

.textField {
  border-radius: 10;
  width: 100%;
  margin-bottom: 12;
}

.priorityList {
  font-weight: 700;
  font: 14;
  color: #7d8592;
  margin-bottom: 2;
}

.priorityButtons {
  display: flex;
  justify-content: space-between !important;
  margin-top: 12;
  list-style: none;
  padding-left: 0;
}

.high {
  color: #f73446;
  border: 1px solid #f73446;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.highSelected {
  color: white;
  border: 1px solid #f73446;
  background-color: #f73446;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.medium {
  color: #ffbd21;
  border: 1px solid #ffbd21;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.mediumSelected {
  color: white;
  border: 1px solid #ffbd21;
  background-color: #ffbd21;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.low {
  color: #0ac947;
  border: 1px solid #0ac947;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.lowSelected {
  color: white;
  border: 1px solid #0ac947;
  background-color: #0ac947;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.priority-buttons li {
  border: 1px solid #ffbd21;
  border-radius: 10px;
  color: #ffbd21;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  width: 90px;
}

.addButton {
  background-color: gray;
  border: 1px solid #ffbd21;
  color: white;
  text-transform: none;
  position: flex-end;
  display: flex;
  font-size: 12;
  display: flex;
  justify-content: right;
}

.addButton:disabled {
  background-color: #7d8592;
  cursor: not-allowed;
  text-transform: none;
  float: inline-end;
}

.addButton:active {
  background-color: #713fff;
  text-transform: none;
  float: inline-end;
}

.actionButtons {
  display: flex;
  justify-content: right;
}