.taskContainer {
  margin-top: 40px;
}

.taskCard {
  align-items: center;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 6px 58px rgba(196, 203, 214, .104) !important;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 22px 30px;
  border-radius: 12px;
}

.taskTitle {
  color: #91929e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}

.task {
  color: #0a1629;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.titleContainer {
  width: 170px;
  display: flex;
  flex-direction: column;
}

.priorityContainer {
  display: flex;
  flex-direction: column;
}

.priorityTitle {
  color: #91929e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}

.priorityStatus {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.taskStatusWrapper {
  text-align: center;
  width: 100px;
  border: none;
  border-radius: 8px;
  border: none;
  color: #7d8592 !important;
  cursor: pointer;
}

.status {
  background: hsla(217, 9%, 53%, .14);
  border: none;
  border-radius: 8px;
  color: #7d8592 !important;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700 !important;
  outline: none;
  padding: 7px 14px;
  text-transform: none !important;
  background-color: lightgray !important;
  border-radius: 10px !important;
}

.circleProgress {
  width: 24px !important;
  height: 24px !important;
  fill: none;
  stroke: #e5e6e9 !important;
  stroke-linecap: round;
  transition: 'stroke-dashoffset .5s ease 0s';
}

.actions {
  justify-content: space-between;
  display: flex;
}

.editTask {
  margin-right: 15px;
}

.deleteIcon {
  color: red;
}